* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: black;
  font-family: Helvetica;
  color: white;
}

main {
  display: grid;
  place-items: center;
  height: 100vh;
}

#debug-infos {
  position: fixed;
  top: 0;
  left: 0;
}

#minimap {
  position: fixed;
  top: 0;
  right: 0;
  outline: solid 1px white;
  transition: opacity 0.5s;
}

#minimap:hover {
  opacity: 0;
}
