* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: black;
  font-family: Helvetica;
  color: white;
}

main {
  display: grid;
  place-items: center;
  height: 100vh;
}

#debug-infos {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 0.8rem;
  padding: 1rem;
  line-height: 1.8;
}

#minimap {
  position: fixed;
  top: 0;
  right: 0;
  outline: solid 1px white;
}

#mapcache-debug {
  position: relative;
  z-index: 999;
}

.hidden {
  display: none;
}
