* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: black;
  font-family: Helvetica;
  color: white;
}

main {
  display: grid;
  place-items: center;
  height: 100vh;
}

#game-renderer {
  display: grid;
  place-items: center;
  outline: solid 1px white;
}

#game-renderer > * {
  grid-column: 1;
  grid-row: 1;
}

#debug-infos {
  position: fixed;
  top: 0;
  left: 0;
}
