:root {
  --color-background: hsl(230, 20%, 4%);
  --color-surface: hsl(230, 20%, 8%);
  --color-on-surface: hsl(0, 0%, 100%);
  --color-primary: hsl(230, 65%, 50%);
  --color-on-primary: hsl(230, 0%, 100%);
  --color-primary-hover: hsl(230, 65%, 55%);
  --color-primary-focus: hsl(230, 65%, 58%);

  --sprite-base-size: 32px;
}

body {
  background: var(--color-background);
  font-family: Helvetica;
  color: var(--color-on-surface);
}

canvas {
  image-rendering: pixelated;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
