:root {
  --color-background: hsl(250, 20%, 8%);
}

body {
  background: var(--color-background);
  font-family: Helvetica;
  color: white;
}

canvas {
  image-rendering: pixelated;
}

#debug-infos {
  position: fixed;
  z-index: 2;
  top: 40px;
  left: 0;
  font-size: 0.8rem;
  padding: 1rem;
  line-height: 1.8;
  pointer-events: none;
}

#minimap {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  outline: solid 1px white;
}
